@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

.filters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 15px 0;

  .title {
    font-family: 'Play', sans-serif;
    color: #7A7A7A;
    font-size: 20px;
  }

  input {
    background-image: linear-gradient(144deg,#7a2db1, #3e2da8 50%,#01858f);
    opacity: 0.5;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    padding: 10px 15px;
    margin: 10px 0;
    color: #ffffff;
    font-family: 'Play', sans-serif;
    border: 1px solid #00000015;
    transition: all .15s ease-in-out;
    &:focus {
      border: 1px solid #0000003a;
      opacity: 0.9;
    }
  }


  /* CSS */
  .button64 {
    margin: 20px 0;
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 100px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }

  .button64:active,
  .button64:hover {
    outline: 0;
  }

  .button64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }

  .button64:hover span {
    background: none;
  }

  @media (min-width: 768px) {
    .button64 {
      font-size: 24px;
      min-width: 196px;
    }
  }
}
