html {
  --background-color: #ffffff;
  --header-color: #ffffff;

  --text-color: #141414;
  --main-color: #2fb3ff;
  --positive-color: #abe52f;
  --neutral-color: #f6c033;
  --negative-color: #ff5b69;

  --positive-light-color: #e6f7c1;
  --neutral-light-color: #fcecc2;
  --negative-light-color: #ffdee1;
}
