@import '../../index.scss';
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  max-width: 320px;
  min-width: 300px;
  width: 300px;
  min-height: 100vh;
  height: 100vh;
  overflow-y: hidden;
  color: var(--main-text);
  box-sizing: border-box;
  background-color: #333E4832;
  border-right: var(--sidebar-border) 1px solid;
  padding: 15px;
  backdrop-filter: blur(4px);
  
  // transition: 0.5s;
  // transform: translateX(-100%);

  .about {
    font-family: 'Play', sans-serif;
    display: flex;
    align-items: flex-end;
    h1 {
      margin: 0;
      margin-left: 20px;
      font-size: 36px;
    }
    span {
      font-size: 16px;
      display: inline;
      margin-left: 5px;
      color: #7A7A7A;
    }
  }
}

.sidebar_active {
  transform: translateX(0%);
  display: block;
}

.togglePeriod {
  span {
    font-size: 24px;
    color: #dfdfdf;
    font-family: 'Play', sans-serif;
  }
  .toggleBtn {
    position: relative;
    top: 4px;
    height: 22px;
    width: auto;
    background: none;
    border: none;
    margin: 10px;
    img {
        height: 22px;
        margin: 0;
        padding: 0;

    }
  }
}



@media (max-width: 767px) {
  .sidebar {
    min-width: 200px;
    max-width: 767px;
    min-height: 100vh;
    padding: 15px;
    width: 100%;
    margin-top: 72px;
    overflow-y: auto;
    z-index: 90;
    box-shadow: 0px 0px 8px 0px #ffffff32;
    border-right: none;
    border-radius: 16px;
    backdrop-filter: blur(8px);
    // transition: 0.2s;
    transform: translateX(0%);

    .about {
      display: none;
    }
  }
  .sidebar_active {

    // transition: 0.2s;
    transform: translateX(-100%);
  }
}